<!doctype html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Risabh Mishra</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <style>
    .card:hover {
      transform: scale(1.1);
    }
    .card {
      transition: transform 0.3s ease;
    }
  </style>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-dark ps-4 pe-4" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Risabh Mishra</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-right">
            <!-- <a class="nav-link" aria-current="page" href="{% url 'allblogs' %}">Blog</a> -->
            <a class="nav-link" href="{% static 'Risabh_Resume_2023.pdf' %}">Resume</a>
            <a class="nav-link" href="https://twitter.com/risabh_">LinkedIn</a>
            <a class="nav-link" href="https://twitter.com/risabh_">Twitter</a>
            <a class="nav-link" href="https://instagram.com/risabh_">Instagram</a>
            <a class="nav-link" href="https://github.com/rmcodes03">GitHub</a>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main role="main">
    <div class="py-5">
      <section class="jumbotron text-center">
        <div class="container">
          <img src="media/images/profile_pic.jpg" alt="Circular Image" style="width: 100%; height: 100%; object-fit: cover; width: 300px; height: 300px; border-radius: 50%; overflow: hidden; text-align: center;">
          <br><br>
          <h1 class="jumbotron-heading">Hi, I'm Risabh.</h1>
          <p class="lead text-muted">This is the place where I show the projects on which I have worked on. Have a nice day!</p>
          <p><a href="mailto:mishrarisabh2000@gmial.com" class="btn btn-secondary my-2">Email Me</a></p>
          <!--<img src="" height="" />-->
        </div>
      </section>
    </div>

    <div class="bg-light">
      <div class="container pt-4" >
        <div class="row">
          <h2 class="jumbotron-heading text-center">Projects</h2>

          <div class="col-md-4 pt-3">
            <div class="card mb-4 box-shadow">
              <a href="https://github.com/rmcodes03/jsim1" style="text-decoration: none; color:black;">
              <img class="card-img-top" height="200px" width="300px" src="media/images/jaccardsimilarity.png"/>
              <div class="card-body">
                <p class="card-text"><b>Jaccard Similarity</b></p>
                <p>Django webapp that calculates jaccard similarity. Created this for a class presentation topic. Also hosted it using Vercel.</p>
              </div>
              </a>
            </div>
          </div>

          <div class="col-md-4 pt-3">
            <div class="card mb-4 box-shadow">
              <a href="https://github.com/rmcodes03/staticportfolio" style="text-decoration: none; color:black;">
              <img class="card-img-top" height="200px" width="300px" src="media/images/literally_me.jpg"/>
              <div class="card-body">
                <p class="card-text"><b>Portfolio Website</b></p>
                <p>Simple portfolio website created using Django framework. Hosted it using Railway.</p>
              </div>
              </a>
            </div>
          </div>

          <div class="col-md-4 pt-3">
            <div class="card mb-4 box-shadow">
              <a href="https://drive.google.com/drive/folders/1XKCdR4e0Rowr6Uucpvui5j7q55hMyL74?usp=sharing" style="text-decoration: none; color:black;">
              <img class="card-img-top" height="200px" width="300px" src="media/images/smartblindstick_thumbnail.jpg"/>
              <div class="card-body">
                <p class="card-text"><b>Smart Blind Stick</b></p>
                <p>IoT project made with Arduino UNO and Ultrasonic sensor. Buzzes sound when an object is detected in front.</p>
              </div>
              </a>
            </div>
          </div>

          <div class="col-md-4 pt-3">
            <div class="card mb-4 box-shadow">
              <a href="https://github.com/rmcodes03/betterlife" style="text-decoration: none; color:black;">
              <img class="card-img-top" height="200px" width="300px" src="media/images/betterlife.PNG"/>
              <div class="card-body">
                <p class="card-text"><b>Betterlife</b></p>
                <p>Android Application to donate and receive medicines. Created this project as a third year final project.</p>
              </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="text-muted">
    <div class="container text-center">
      <p>© Risabh Mishra {% now "Y" %}</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>